@charset "UTF-8";

@media screen and (min-width:300px) and (max-width: 768px) {
    #initial>.Titulo{
        font-size: 10vw;
     
    }
    #calculo{
        width: 30vw;
        font-size: 1em;
    }
    #calculo:active{
        background-color: rgb(32, 212, 8);
    }
    #terc{
        height: 1650px;
    }
    #terc>p{
        text-align: left;
        display: block;
        height: 1600px;
    }
    footer{
        height: 5vh;
    }
}