@charset "UTF-8";

@media screen and (min-width:500px) and (max-width: 992px) {
    #initial>.Titulo{
        font-size: 10vw;
     
    }
    #calculo{
        font-size: 1em;
    }
    #terc{
        min-height: 400px;
        height: 1000px;
    }
    #terc>p{
        display: block;
        height: 900px;
    }
    footer{
        height: 5vh;
    }
}