@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
  
:root{
    --fonteGay: Cedarville , Cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
#initial{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 80vh;
    padding-left: 30px;
}
.Titulo {
    font-family: "Cedarville Cursive", cursive;
    font-size: 3.5vw;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    font-weight: 400;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 8px black;
}
.backgound{
    background-image: url(../img/imhNutriPrince.jpg);
    background-position: center center;
    background-size: cover;
}
#segund{
    background-color: whitesmoke;
    height: 500px;
    padding-top: 20vh;
}
#menu{
    text-align: center;
    background-color: white;
    width: 60vw;
    height: 300px;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.256);
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
input{
    width: 30vw;
    height: 25px;
    padding: 5px;
}
#peso{
    margin-top: 15px;
}
#altura{
    margin-top: 15px;
}
#btnCalculo{
    margin: 5px;
}
#calculo{
    padding: 15px;
    background-color: rgb(32, 174, 32);
    color: white;
    text-shadow: 2px 2px 5px black;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 1.2em;
    width: 20vw;
    text-align: center;
}
#calculo:hover{
    transform: translate(0px,-5px);
    transition: transform 0.5s;
    background-color: rgb(32, 212, 8);
    cursor: pointer;
}
#resultado{
    text-align: center;
    font-weight: bolder;
}
#terc{
    box-shadow: inset 0px 0px 13px  rgba(0, 0, 0, 0.496);
    background-image: url(../img/imgLaranjas.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    height: 400px;
    background-attachment: fixed;
}
#terc > p{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.486);
    border-radius: 15px;
    font-size: 1.3rem;
    text-indent: 50px;
    text-align: justify;
    background-color: rgba(186, 185, 185, 0.829);
    width: 50vw;
    height:350px ;
    padding: 20px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px black;

}
footer{
    height: 15vh;
}
footer >p{
    padding: 30px;
    text-align: left;
    font-weight: bolder;
    font-size: 1.5em;
    color: whitesmoke;
    text-shadow: 0px 0px 8px black;
}
footer>p>a{
    text-decoration: none;
    color: whitesmoke;
}

