@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
  
:root{
    --fonteGay: Cedarville , Cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
#initial{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 80vh;
    padding-left: 30px;
    font-size: 3.5vw;
}
.Titulo {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    font-weight: 400;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 8px black;
}
.backgound{
    background-image: url(../img/imhNutriPrince.jpg);
    background-position: center center;
    background-size: cover;
}
#segund{
    background-color: whitesmoke;
    height: 500px;
    padding-top: 20vh;
}
#menu{
    text-align: center;
    background-color: white;
    width: 60vw;
    height: 300px;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.256);
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#terc{
    box-shadow: inset 0px 0px 13px  rgba(0, 0, 0, 0.496);
    background-image: url(../img/pexels-lumn-1028599.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    height: 400px;
    background-attachment: fixed;
}
#terc > p{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.486);
    border-radius: 15px;
    font-size: 1.3rem;
    text-indent: 50px;
    text-align: justify;
    background-color: rgb(202, 202, 202);
    width: 50vw;
    height:350px ;
    padding: 20px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px black;

}
aside{
    padding: 20px;
    text-align: center;
    height: 300px;
}
aside>ul{ 
    list-style-position: inside;
    columns: 2;
}

